<h1>Error codes</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>

<% @codes.each do |code| %>
  <tr>
    <td><%= code.number %></td>
    <td id="descriptionCell"><%= code.description %></td>
    <td><%= code.category %></td> 
    <td><%= link_to 'Show', code %> |
    <%= link_to 'Edit', edit_code_path(code) %> |
    <%= link_to 'Destroy', code, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code', new_code_path %>
